<h1>Welcome:<%= @user.first_name %></h1>

<p>Welcome to Banking System, Your information is verified now You can access your account</p>

<p>Thanks for joining us, Have a great day!</p>
<p>Login to bankingsystem.com-<%= link_to "bankingonline.in", new_user_session_url %></p>