<p>Welcome <%= @email %>!</p>

<p>Welcome to Banking System, Your account created successfully, You can access once your information gets verified</p>

<p>Thanks for joining us, Have a great day!</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @resource.confirmation_token) %></p>
